@font-face {
    font-family: 'DingTalk-JinBuTi';
    src: 
     /*  url('/custom/font/DingTalk-JinBuTi.woff2') format('woff2'),  
         url('/custon/font/DingTalk-JinBuTi.woff') format('woff'),     
         url('/custom/font/DingTalk-JinBuTi.ttf') format('truetype');     */
         
         url('/custom/font/LXGWWenKaiMonoGB-Medium.ttf') format('truetype');  
    font-weight: normal;
    font-style: normal;
}
